<template>
    <div class="test" style="width: 90vw; height: 90vh">
        <div>
            <input type="text" v-model="title">
        </div>
        <div>
            <textarea v-model="content"></textarea>
        </div>
        <div>
            <input type="number" step="500" v-model="lifespan">
        </div>
        <div>
            <input type="checkbox" id="outline" v-model="outline"> <label for="outline">Outline</label>
        </div>
        <div>
            <input type="text" v-model="actions">
        </div>
        <div>
            <button @click="add()">plain</button>
        </div>
        <div>
            <button @click="add(title)">title only</button>
        </div>
        <div>
            <button @click="add({class: 'success'})">success</button>
        </div>
        <div>
            <button @click="add({class: 'warn'})">warn</button>
        </div>
        <div>
            <button @click="add({class: 'danger'})">danger</button>
        </div>
        <div>
            <button @click="add({class: 'info'})">info</button>
        </div>


        <adelt-toaster :toasts="toasts" bottom right direction="down" toast_class="warn" warn="#990099"></adelt-toaster>
    </div>
</template>

<script>
    import Toaster from './toaster';

    export default {
        name: 'test',
        components: {
            'adelt-toaster': Toaster,
        },
        props: {
        },
        data() {
            return {
                toasts: [],
                outline: false,
                title: 'Title',
                content: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.',
                actions: 'icon-a, icon-b',
                lifespan: 8000,
            };
        },
        methods: {
            add(toast) {
                if (!toast)
                    toast = {};
                if (typeof toast === 'string') {
                    toast = {title: toast, content: ''};
                }
                if (!toast.hasOwnProperty('title')) {
                    toast.title = this.title;
                }
                if (!toast.hasOwnProperty('content')) {
                    toast.content = this.content;
                }
                if (!toast.hasOwnProperty('lifespan')) {
                    toast.lifespan = this.lifespan;
                }
                let cls = this.outline ? 'outline' : '';

                if (!toast.hasOwnProperty('class')) {
                    toast.class = '';
                }

                toast.actions = [];

                this.actions.split(',').forEach(action => {
                    const a = {
                        class: action.trim(),
                        title: action,
                        action: () => {console.log(this, a, action)},
                    };
                    toast.actions.push(a);
                });

                toast.class += ' ' + cls;

                this.toasts.push(toast);
            }
        }
    }

</script>


<style lang="scss">

    .icon-a {
        &::before {
            content: 'i';
        }
    }
    .icon-b {
        &::before {
            content: 'o';
        }
    }
    .icon-c {
        &::before {
            content: 'ü';
        }
    }

</style>
