<template>
    <div class="adelt-toaster" :class="classes" @mouseover="hoverStart" @mouseenter="hoverStart" @mouseout="hoverEnd" @mouseleave="hoverEnd">
        <transition-group name="adelt-toast" tag="div" class="toasts" appear>
            <div class="toast-holder" v-for="toast in toaster" :key="'holder_' + toast.counter">
                    <adelt-toast
                        :ref="'toasts'"
                        :class="toast.class"
                        :toast="toast"
                        :key="'toast_' + toast.counter"
                        :success="success"
                        :warn="warn"
                        :danger="danger"
                        :info="info"
                        @remove="remove(toast)"
                    />
            </div>
        </transition-group>
    </div>

</template>

<script>
    import Toast from './toast.vue';

    export default {
        name: 'adelt-toaster',
        components: {
            'adelt-toast': Toast,
        },
        props: {
            toast_time: {
                type: [Number, String],
                default: 8000,
            },
            toast_class: {
                type: String,
                default: '',
            },
            toast_closable: {
                type: Boolean,
                default: true,
            },
            transition: {
                type: String,
                default: 'adelt-fade',
            },
            toasts: {
                type: Array,
                default: () => [],
            },
            direction: {
                type: String,
                default: 'down',
            },
            top: {
                type: Boolean,
                default: false,
            },
            bottom: {
                type: Boolean,
                default: false,
            },
            left: {
                type: Boolean,
                default: false,
            },
            right: {
                type: Boolean,
                default: false,
            },
            success: {
                type: String,
                default: '#38c172',
            },
            danger: {
                type: String,
                default: '#dd3333',
            },
            info: {
                type: String,
                default: '#0098DB',
            },
            warn: {
                type: String,
                default: '#ff8800',
            },
        },
        data: () => {
            return {
                toaster: [],
                allToasts: [],
                lastTick: 0,
                toasting: true,
            };
        },
        watch: {
            toasts(toasts) {
              //console.log('toasts changed');
                if (toasts.length) {
                  //console.log('new toast detected');
                    this.add(toasts.slice(-1)[0]);
                }
            }
        },
        computed: {
          classes() {
            const result = {};

            result['direction-' + this.direction] = true;
            result['position-top'] = !!this.top;
            result['position-bottom'] = !!this.bottom;
            result['position-left'] = !!this.left;
            result['position-right'] = !!this.right;
            result['toasting'] = this.toasting;
            result['has-toasts'] = this.toaster.length > 0

            return result;
          }
        },
        methods: {
            add(toast) {

                if (typeof toast === 'string') {
                    toast = {title: toast};
                }

                const nextToast = Object.assign({}, toast);
                //console.log('adding toast', toast);

                if (!nextToast.hasOwnProperty('lifespan')) {
                    nextToast.lifespan = this.toast_time;
                }
                if (!nextToast.hasOwnProperty('title')) {
                    nextToast.title = '';
                }
                if (!nextToast.hasOwnProperty('content')) {
                    nextToast.content = '';
                }
                if (!nextToast.hasOwnProperty('actions')) {
                    nextToast.actions = [];
                }
                if (!nextToast.hasOwnProperty('closable')) {
                    nextToast.closable = this.toast_closable;
                }
                if (!nextToast.hasOwnProperty('class')) {
                    nextToast.class = this.toast_class;
                }

                nextToast.counter = this.allToasts.length;
                nextToast.life = 0;
                nextToast.toastedAt = performance.now();
                nextToast.toasting = true;

                this.toaster.push(nextToast);
                this.allToasts.push(nextToast);
                return nextToast;
            },

            remove(toast) {
                this.toaster = this.toaster.filter(t => t.counter !== toast.counter);
                this.toasting = true;
                if (toast.onRemove && typeof toast.onRemove === 'function') {
                    toast.onRemove();
                }
            },

            tick() {
                const delta = performance.now() - this.lastTick;
                this.lastTick += delta;
                let minAge = null;

                if (this.toasting) {
                    this.toaster.forEach(toast => {
                        toast.life += delta;
                        toast.lifetime = toast.lifespan > 0 ? toast.life / toast.lifespan : 0;
                        toast.toasting = toast.lifetime <= 1;
                        minAge = !minAge ? toast.lifetime : Math.min(minAge, toast.lifetime);
                        if (toast.toasting) {
                            //console.log(delta, toast.lifetime);
                        }
                    });

                    if (this.$refs.toasts) {
                        this.$refs.toasts.forEach(component => component.tick())
                    }

                    if (minAge && minAge > 2) {
                      //console.log('min age exceeded', minAge);
                        this.toaster = [];
                    }
                }


                //this.toaster = nextToasts;

                requestAnimationFrame(this.tick)
            },

            hoverStart() {
                this.toasting = false;
            },
            hoverEnd() {
                this.toasting = true;
            },
        },
        beforeMount() {
            //for (const i in new Range(10)) {
            //    this.add({
            //        title: i,
            //    });
            //}
        },

        mounted() {
            this.lastTick = performance.now();
            this.tick();
        }
    }

</script>


<style lang="scss" scoped>

    .adelt-toaster {
        font-family: sans-serif;
        width: 100%;
        max-width: 400px;
        padding: 12px;
        overflow: hidden;

        > .toasts {
            position: relative;
            display: flex;


            > .toast-holder {
                padding: 4px 0;

                &:empty {
                    padding: 0;
                }
            }
        }

        &.direction-down {
            > .toasts {
                flex-direction: column;
            }
        }

        &.direction-up {
            > .toasts {
                flex-direction: column-reverse;
            }
        }


        &.position-left, &.position-right, &.position-top, &.position-bottom {
            position: absolute;
        }

        &.position-left {
            left: 0;
        }
        &.position-right {
            right: 0;
        }
        &.position-top {
            top: 0;
        }
        &.position-bottom {
            bottom: 0;
        }



        // Transitions
        .adelt-toast-move {
            transition: transform 1s cubic-bezier(0, .5, .5, 1);
        }

        .adelt-toast-enter-active, .adelt-toast-leave-active {
            transition: opacity .3s cubic-bezier(0, .5, .5, 1);
        }
        .adelt-toast-enter, .adelt-toast-leave-to {
            opacity: 0;
        }
        .adelt-toast-enter-to, .adelt-toast-leave {
            opacity: 1;
        }

        @keyframes from-right {
            0% {
                margin-right: -500px;
            }
            100% {
                margin-right: 0;
            }
        }

        &, * {
            box-sizing: border-box;
        }

    }

</style>


<style lang="scss">
    .adelt-toaster {
        &:hover {
            > .toasts {
                > .toast-holder {
                    > .adelt-toast {
                        > .progress {
                            animation-play-state: paused;
                        }
                    }
                }
            }
        }
    }
</style>