<template>
    <div class="adelt-toast" :style="style">
        <div class="title" v-html="toast.title"></div>
        <div class="actions">
            <div
                 v-for="(action, i) in toast.actions"
                 :class="action.class"
                 :key="i"
                 :title="action.title"
                 @click="perform(action.action)"
                 tabindex="0">
                {{action.title}}
            </div>
            <div v-if="toast.closable" class="close" @click="$emit('remove')" tabindex="0">
                x
            </div>
        </div>
        <div class="content" v-html="toast.content" v-if="toast.content"></div>
        <div class="progress" :style="progressStyle"></div>
    </div>
</template>

<script>
    export default {
        name: 'adelt-toast',
        props: {
            toast: {
                type: Object,
                required: true,
            },
            success: {
                type: String,
                default: '#38c172',
            },
            danger: {
                type: String,
                default: '#dd3333',
            },
            info: {
                type: String,
                default: '#0098DB',
            },
            warn: {
                type: String,
                default: '#ff8800',
            },
        },
        data() {
            return {
                percent: '0%',
                count: 0,
            }
        },
        mounted() {
            this.count++;
        },
        methods: {
            tick() {
                this.percent = this.toast.lifetime * 100 + '%';
                if (this.toast.lifetime > 1)
                    this.$emit('remove');
            },
            perform(action) {
                if (typeof action === 'string') {
                    eval(action);
                } else {
                    action(this);
                }
            },
            remove() {
                this.$emit('remove')
            },
        },
        computed: {
            progress() {
                return this.toast.lifetime * 100 + '%';
            },
            style() {
                const result = {};
                this.count;  // force recompute since we need to after the component is mounted
                if (!this.$el) {
                    return result;
                }
                if (this.$el.classList.contains('outline')) {
                    if (this.$el.classList.contains('success')) {
                        result.borderColor = this.success;
                    } else if (this.$el.classList.contains('warn')) {
                        result.borderColor = this.warn;
                    } else if (this.$el.classList.contains('danger')) {
                        result.borderColor = this.danger;
                    } else if (this.$el.classList.contains('info')) {
                        result.borderColor = this.info;
                    }
                } else {
                    result.color = 'white';
                    if (this.$el.classList.contains('success')) {
                        result.backgroundColor = this.success;
                    } else if (this.$el.classList.contains('warn')) {
                        result.backgroundColor = this.warn;
                    } else if (this.$el.classList.contains('danger')) {
                        result.backgroundColor = this.danger;
                    } else if (this.$el.classList.contains('info')) {
                        result.backgroundColor = this.info;
                    } else {
                        result.color = 'inherit';
                    }
                }
                return result;
            },
            progressStyle() {
                const result = {};
                this.count;
                if (!this.$el) {
                    return result;
                }
                if (this.$el.classList.contains('outline')) {
                    if (this.$el.classList.contains('success')) {
                        result.backgroundColor = this.success;
                    } else if (this.$el.classList.contains('warn')) {
                        result.backgroundColor = this.warn;
                    } else if (this.$el.classList.contains('danger')) {
                        result.backgroundColor = this.danger;
                    } else if (this.$el.classList.contains('info')) {
                        result.backgroundColor = this.info;
                    }
                }
                result['animation-duration'] = this.toast.lifespan + 'ms'
                return result;
            },
        }
    }

</script>


<style lang="scss" scoped>

    $success: #38c172;
    $danger: #dd3333;
    $info: #0098DB;
    $warn: #ff8800;

    .adelt-toast {
        width: 100%;
        display: grid;
        grid-template-areas: "title actions" "content content" "progress progress";
        grid-gap: 0;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;

        background-color: white;
        border: 1px solid #00000022;
        box-shadow: 0 3px 6px #00000066;

        color: #000000aa;


        > .title {
            grid-area: title;
            padding: 12px 6px 4px;
            min-height: 24px;
            line-height: 24px;
        }
        > .actions {
            grid-area: actions;
            display: flex;

            > * {
                height: 40px;
                line-height: 40px;
                width: 40px;
                cursor: pointer;
                text-align: center;
                outline: none;

                &:hover, &:focus {
                    background-color: #00000033;
                }
                &:active {
                    background-color: #00000066;
                }
            }
        }
        > .content {
            grid-area: content;
            padding: 0 6px 8px;
            font-size: small;
        }

        > .progress {
            grid-area: progress;
            height: 4px;
            background-color: #00000066;
            position: relative;
            animation: progress-animation linear;
            animation-fill-mode: forwards;
            animation-play-state: running;
            margin-top: 8px;
        }

        @keyframes progress-animation {
            0% {
                width: 0;
            }
            100% {
                width: 100%;
            }
        }


        &.outline {

            &.success {
                border-color: $success;
                > .progress {
                    background-color: $success;
                }
            }
            &.danger {
                border-color: $danger;
                > .progress {
                    background-color: $danger;
                }
            }
            &.warn {
                border-color: $warn;
                > .progress {
                    background-color: $warn;
                }
            }
            &.info {
                border-color: $info;
                > .progress {
                    background-color: $info;
                }
            }
        }

        &:not(.outline) {
            &.success, &.warn, &.danger, &.info {
                color: white;
            }

            &.success {
                background-color: $success;
            }
            &.danger {
                background-color: $danger;
            }
            &.warn {
                background-color: $warn;
            }
            &.info {
                background-color: $info;
            }
        }

    }

</style>
